canvas{
    border: 20px;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom:0;
    width:  100%;
    background-color: green;
    line-height: 3;
    text-align: center;
}